* {
}

body{
  color: black;
  background-color: #E1BE86;
}

h1{
  font-family: "American Typewriter", Courier, serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #F9F9F9;
  background-color: transparent;
  text-shadow: 2px 2px #6E5836;
}

table{
  color: transparent;
  background-color: #FBE0B5;
  border: 2px solid #7B6A4E;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

th{
  color: #382506;
  background-color: #FBE0B5;
  width: 20vw;

}

button{
  color: #382506;
  background-color: #FBE0B5;
  font-family: "American Typewriter", Courier, serif;
  font-size: 18px;
  width: 20vw;
  height: 40px;
}

p{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}



.instructions{
  font-family: "American Typewriter", Courier, serif;
  font-size: 18px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
